@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  contact
*/

.p-contact {
  &__header {
    width: 100%;
    max-width: 900px;
    margin: 0 auto clamp(32 / 16 * 1rem, 1.5rem + 2.5vw, 56 / 16 * 1rem); //viw:320-1280px
    border: 1px solid $main-color;
    border-radius: 30px;
  }

  &__text {
    width: fit-content;
    margin: auto;
    padding: clamp(24 / 16 * 1rem, 0.833rem + 3.33vw, 56 / 16 * 1rem)
      clamp(10 / 16 * 1rem, 0.417rem + 1.04vw, 20 / 16 * 1rem) clamp(24 / 16 * 1rem, 0.833rem + 3.33vw, 56 / 16 * 1rem)
      clamp(10 / 16 * 1rem, 0.417rem + 1.04vw, 20 / 16 * 1rem); //viw:320-1280px
  }

  &__sentence {
    font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //viw:320-1280px
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.6875;
  }
}

.p-contact__form {
  &__wrapper {
    width: 100%;
    margin: auto;
    margin-bottom: clamp(64 / 16 * 1rem, 2.417rem + 7.92vw, 140 / 16 * 1rem);

    @include mq(md) {
      width: fit-content;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: pxToRem(8px);

    &.-privacyPolicy {
      gap: 0;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //viw:320-1280px
    font-weight: 500;
    letter-spacing: 0.08em;
  }

  &__label {
    display: inline-block;
    margin-left: pxToRem(8px); //viw:320-1280px
    color: $caution-text-color;
    font-size: pxToRem(12px);
    font-weight: 700;
    letter-spacing: 0.08em;
  }

  &__text {
    font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //viw:320-1280px
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1;

    &.-privacyPolicy {
      margin-bottom: pxToRem(3px);
    }
  }

  &__textfield {
    width: 100%;
    padding: pxToRem(8px) pxToRem(16px);
    border: none;
    border-radius: pxToRem(5px);
    background-color: $background-color-contact;
    appearance: none;
  }

  &__checkbox {
    position: relative;
    width: pxToRem(20px);
    height: pxToRem(20px);
    margin-right: pxToRem(5px);
    border: none;
    border-radius: pxToRem(5px);
    background-color: $background-color-contact;
    appearance: none;
  }

  &__checkbox:checked::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 5px;
    left: 0;
    width: 10px;
    height: 14px;
    margin: auto;
    transform: rotate(50deg);
    border-right: 3px solid $primary-text-color;
    border-bottom: 3px solid $primary-text-color;
  }

  &__link {
    transition: color 0.6s cubic-bezier(0.14, 0.21, 0.59, 1);
    color: $primary-text-color;
    font-weight: 700;
    text-decoration: underline;

    &:hover {
      transition: color 0.6s cubic-bezier(0.14, 0.21, 0.59, 1);
      color: $quaternary-text-color;
    }
  }

  &__button {
    padding-top: clamp(32 / 16 * 1rem, 1.833rem + 0.83vw, 40 / 16 * 1rem);
  }
}

.p-contact__form__item + .p-contact__form__item {
  margin-top: clamp(24 / 16 * 1rem, 1.333rem + 0.83vw, 32 / 16 * 1rem); //viw:320-1280px
}

.p-contact__form .p-contact__form__item.-privacyPolicy {
  margin-top: clamp(10 / 16 * 1rem, 3.13vw, 40 / 16 * 1rem); //viw:320-1280px
}

.is-error {
  display: block;
  width: 100%;
  color: red;
  font-size: pxToRem(16px);
  font-weight: 700;
}
