@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  feature
*/
.p-feature__grid {
  padding: clamp(70 / 16 * 1rem, 3.806rem + 2.84vw, 90 / 16 * 1rem) 0
    clamp(72 / 16 * 1rem, 4rem + 2.5vw, 96 / 16 * 1rem);

  @include mq(xl) {
    padding: clamp(70 / 16 * 1rem, 3.806rem + 2.84vw, 90 / 16 * 1rem) pxToRem(15px)
      clamp(72 / 16 * 1rem, 4rem + 2.5vw, 96 / 16 * 1rem);
  }
}

.p-feature__card__title {
  display: block;
  font-size: pxToRem(20px);
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: left;
  word-break: keep-all;
  overflow-wrap: break-word;

  @include mq(xl) {
    font-size: pxToRem(24px);
  }
}

.p-feature__purpose__title {
  position: relative;
  width: clamp(218 / 16 * 1rem, 9.205rem + 22.1vw, 317 / 16 * 1rem); //viw:320-1280px
  margin: 0 auto;
  font-size: clamp(19 / 16 * 1rem, 0.786rem + 2.01vw, 28 / 16 * 1rem); //viw:320-1280px
  font-weight: 700;
  line-height: 1;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: clamp(1.25rem, 0.987rem + 1.32vw, 1.563rem); //最小：20px 最大：25px viw:320-700px
    background-color: $primary-text-color;
  }

  &::before {
    bottom: -1px;
    left: -13px;
    transform: rotate(-45deg);

    @include mq(md) {
      left: -26 px;
    }
  }

  &::after {
    right: -10px;
    bottom: -1px;
    transform: rotate(45deg);

    @include mq(md) {
      right: -10px;
    }
  }
}

.js-feature__purpose__title span {
  display: inline-block;
}

.p-feature__swiper {
  margin-left: 11.785%;
  padding-top: clamp(54 / 16 * 1rem, 2.75rem + 3.13vw, 84 / 16 * 1rem); //min-:320-1024px

  @include mq(md) {
    margin-left: 21%;
  }

  @include mq(lg) {
    margin-left: pxToRem(18px);
  }
}

.p-feature__swiper-wrapper {
  padding-bottom: clamp(40 / 16 * 1rem, 1.362rem + 5.69vw, 80 / 16 * 1rem); //min-:320-1023px

  @include mq(lg) {
    justify-content: center;
    gap: pxToRem(60px);
    padding-bottom: 0;
  }
}

.p-feature__swiper-slide {
  position: relative;
  width: 46%;
  min-width: 140px;

  @include mq(md) {
    width: 100%;
    max-width: 300px;
  }
}

.p-feature__purpose__label__wrap {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 46.63%;
  max-width: 121px;
  overflow: hidden;
  border-radius: 50%;
}

.p-feature__purpose__label {
  position: relative;
  height: 0;
  padding-top: 100%;
  background-color: $secondary-accent-color;
}

.p-feature__purpose__label__text {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0;
  transform: translateY(-50%);
  font-size: clamp(0.75rem, 0.616rem + 0.67vw, 0.938rem); //12-15px min-:320-768px
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.1;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.p-feature__purpose__label__word {
  display: block;
}

.p-feature__purpose__image {
  max-height: 299px;
  padding: pxToRem(30px) pxToRem(35px);
  padding: clamp(1.875rem, 0.179rem + 8.48vw, 4.25rem) clamp(2.188rem, 0.893rem + 6.47vw, 4rem); //上下30px-68px 左右35-64px min-:320-768px
  border-radius: 999999px;
  background-color: rgba($color: $primary-accent-color, $alpha: 0.8);

  @include mq(md) {
    padding: pxToRem(68px) pxToRem(64px);
  }
}

.p-feature__purpose__image.-boy img {
  aspect-ratio: 70 / 122;
  object-fit: contain;
}
