@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;
/*
  Hamburger
*/

.p-hamburger {
  --size: 40px;

  $this: &;
  position: fixed;

  z-index: 4;
  top: clamp(23 / 16 * 1rem, 0.901rem + 2.68vw, 35 / 16 * 1rem);
  right: 5%;
  width: var(--size);
  height: var(--size);
  margin: auto;
  transition: var(--duration2) var(--ease3);
  transition-property: transform;
  border: 0;
  border-radius: 50px;
  background-color: $primary-sub-color;
  text-align: center;

  @include mq(md) {
    --size: 45px;

    top: pxToRem(38px);
    width: var(--size);
    height: var(--size);
  }

  @include mq(lg) {
    top: pxToRem(37px);
    right: 5%;
  }

  @include mq(xl) {
    display: none;
  }

  &__line {
    display: block;
    position: absolute;
    width: calc((16 / 40) * 100%); // calc((lineのwidth / ボタン本体のwidth) * 100%)
    height: 2px;
    margin: auto;
    transition: var(--duration2) var(--ease3);
    transition-property: transform, background-color, opacity, transform-origin;
    border-radius: 1em;
    background-color: $base-color;
    inset: 0;

    @include mq(md) {
      width: calc((18 / 45) * 100%); // calc((lineのwidth / ボタン本体のwidth) * 100%)
    }
  }

  &__line::before,
  &__line::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    transition: inherit;
    border-radius: inherit;
    background-color: inherit;
  }

  &__line::before {
    top: -5px;

    @include mq(md) {
      top: -8px;
    }
  }

  &__line::after {
    top: 5px;

    @include mq(md) {
      top: 8px;
    }
  }
}

.is-active-drawer .p-hamburger__line {
  background-color: transparent;
}

.is-active-drawer .p-hamburger__line::before {
  top: 0;
  transform: rotate(-45deg);
  background-color: $base-color;
}

.is-active-drawer .p-hamburger__line::after {
  top: 0;
  transform: rotate(45deg);
  background-color: $base-color;
}
