@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  location
*/

.p-location__accordion {
  padding: clamp(32 / 16 * 1rem, 1.667rem + 1.67vw, 48 / 16 * 1rem) 0
    clamp(32 / 16 * 1rem, 0.833rem + 5.83vw, 88 / 16 * 1rem); //view:320-1280px
}

.p-location__shop__text,
.p-location__text {
  font-weight: 500;
  letter-spacing: 0.08em;
  text-align: center;
}

.p-location__shop__text {
  padding-top: clamp(24 / 16 * 1rem, 1.167rem + 1.67vw, 40 / 16 * 1rem);
  font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //view:320-1280px
}

.p-location__text {
  font-size: clamp(18 / 16 * 1rem, 0.917rem + 0.1vw, 20 / 16 * 1rem); //view:320-1280px
}

.p-location__icon {
  position: relative;

  &.-car {
    order: -1;
    width: clamp(20 / 16 * 1rem, 1.188rem + 0.31vw, 23 / 16 * 1rem); //view:320-1280px
    min-width: 20px;
  }

  &.-bus {
    order: 0;
    width: clamp(18 / 16 * 1rem, 1.063rem + 0.31vw, 21 / 16 * 1rem); //view:320-1280px

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: -12px;
      bottom: 0;
      width: 1px;
      height: 10px;
      margin: auto 0;
      background-color: $primary-text-color;

      @include mq(md) {
        right: -12px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: -12px;
      bottom: 0;
      width: 1px;
      height: 10px;
      margin: auto 0;
      transform: rotate(90deg);
      background-color: $primary-text-color;

      @include mq(md) {
        right: -12px;
      }
    }
  }

  &.-train {
    width: clamp(18 / 16 * 1rem, 1.063rem + 0.31vw, 21 / 16 * 1rem); //view:320-1280px

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: -12px;
      bottom: 0;
      width: 1px;
      height: 10px;
      margin: auto 0;
      background-color: $primary-text-color;

      @include mq(md) {
        right: -12px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: -12px;
      bottom: 0;
      width: 1px;
      height: 10px;
      margin: auto 0;
      transform: rotate(90deg);
      background-color: $primary-text-color;

      @include mq(md) {
        right: -12px;
      }
    }
  }

  &.-tram {
    width: clamp(18 / 16 * 1rem, 1.063rem + 0.31vw, 21 / 16 * 1rem); //view:320-1280px

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      bottom: 0;
      left: -12px;
      width: 1px;
      height: 10px;
      margin: auto 0;
      background-color: $primary-text-color;

      @include mq(md) {
        right: -12px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      bottom: 0;
      left: -12px;
      width: 1px;
      height: 10px;
      margin: auto 0;
      transform: rotate(90deg);
      background-color: $primary-text-color;

      @include mq(md) {
        left: -12px;
      }
    }
  }

  &.-walk {
    order: 0;
    width: clamp(13 / 16 * 1rem, 0.792rem + 0.1vw, 14 / 16 * 1rem);
  }

  & img {
    padding-bottom: 4px;
    vertical-align: middle;
  }
}

.p-location__link {
  transition: color var(--duration2) var(--ease6);
  color: $primary-text-color;
  text-decoration: underline;

  &:hover {
    transition: color var(--duration2) var(--ease6);
    color: $text-link-color-hover1;
  }
}

.p-location__shop__link {
  display: block;
  position: relative;

  &::before {
    content: "WEBサイトへ";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: opacity var(--duration2) var(--ease6);
    border-radius: 10px;
    opacity: 0;
    background-color: $primary-text-color;
    color: #fff;
    inset: 0;
  }

  &:hover::before {
    transition: opacity var(--duration2) var(--ease6);
    opacity: 0.25;
  }
}

.p-location__shop__thumnail {
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 287 / 184;

  @include mq(lg) {
    aspect-ratio: 800 / 469;
  }
}

.p-location__shop__thumnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 100%;

  @include mq(lg) {
    &.-toribou {
      object-position: 50% 8%;
    }

    &.-cocosu {
      object-position: 50% 55%;
    }

    &.-yuu {
      object-position: 50% 90%;
    }

    &.-ruvan {
      object-position: 50% 80%;
    }

    &.-shishitora {
      object-position: 50% 64%;
    }

    &.-superkid {
      object-position: 50% 25%;
    }

    &.-nikkori {
      object-position: 50% 79%;
    }

    &.-torimaru {
      object-position: 50% 56%;
    }

    &.-ashibi {
      object-position: 50% 50%;
    }

    &.-momotaro {
      object-position: 50% 63%;
    }

    &.-nogami {
      object-position: 50% 63%;
    }

    &.-berushe {
      object-position: 50% 50%;
    }

    &.-hakatatorokaratei {
      object-position: 50% 58%;
    }

    &.-okashinotobira {
      object-position: 50% 60%;
    }
  }
}

.p-location__swiper {
  width: 100%;
  margin: auto;
  padding-bottom: clamp(40 / 16 * 1rem, 2.167rem + 1.67vw, 56 / 16 * 1rem);
  overflow-x: hidden;

  @include mq(md) {
    max-width: 691px;
  }

  @include mq(lg) {
    max-width: 800px;
  }
}

.p-location__list {
  display: flex;
  flex-direction: column;
  row-gap: pxToRem(16px);

  &__label {
    width: fit-content;
    padding: pxToRem(4px) pxToRem(15px);
    border-radius: 15px;
    color: $base-color;
    font-size: pxToRem(13px);

    @include mq(md) {
      font-size: pxToRem(14px);
    }

    &.-restaurant {
      background-color: $main-color;
    }

    &.-shop {
      background-color: $tertiary-accent-color;
    }

    &.-life {
      background-color: $quaternary-accent-color;
    }

    &.-time {
      width: min-content;
      border-radius: 5px;
      background-color: $quinary-accent-color;
      color: $primary-text-color;
      font-size: pxToRem(15px);
      word-break: keep-all;
      overflow-wrap: break-word;

      @include mq(md) {
        font-size: pxToRem(16px);
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;

    &.-walk,
    &.-car {
      row-gap: pxToRem(16px);
    }

    &.-time {
      row-gap: pxToRem(8px);
    }
  }
}

.p-location__list + .p-location__list {
  position: relative;
  padding-top: clamp(80 / 16 * 1rem, 4.167rem + 4.17vw, 120 / 16 * 1rem);

  &::before {
    content: "";
    position: absolute;
    top: clamp(40 / 16 * 1rem, 1.979rem + 2.6vw, 65 / 16 * 1rem);
    right: 0;
    left: 0;
    width: 145px;
    margin: 0 auto;
    border-top: 1px solid $tertiary-text-color;
  }
}

.p-location__list__items:last-of-type .p-location__title.-time {
  width: 161px;
  word-break: keep-all;
  overflow-wrap: break-word;

  @include mq(md) {
    width: fit-content;
  }
}

.p-location__time {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;

  @include mq(xxs) {
    grid-template-columns: minmax(calc(100 / 320 * 100vw), 0.2fr);
  }

  @include mq(xs) {
    grid-template-columns: clamp(135 / 16 * 1rem, 8.162rem + 1.23vw, 140 / 16 * 1rem); //view:320-767px
  }

  &.-time {
    min-height: 56px;
  }
}

.p-location__time__items {
  display: flex;
  position: relative;
  flex-grow: 0;
  align-items: center;
  column-gap: pxToRem(5px);

  &.-car {
    grid-area: 1 / 1 / 2 / 2;
    min-width: 90px;
  }

  &.-other {
    position: relative;
    grid-area: 1 / 2 / 2 / 3;
    flex-wrap: wrap;
    min-width: 123px;
    padding-left: pxToRem(24px);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      height: 15px;
      margin: auto 0;
      background-color: $primary-text-color;
    }
  }
}

.p-location__time.-long {
  @include mq(xs) {
    padding-right: pxToRem(16px);
  }
}

.p-location__time__text {
  order: 1;
  font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //view：viw:320-1280px
  word-break: keep-all;
  overflow-wrap: break-word;
}

.p-accordion__box__imgs {
  display: flex;
  position: relative;
  align-items: center;
  min-width: pxToRem(50px);
  column-gap: pxToRem(23px);
}

.p-location__list__shop {
  font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //view:320-1280px
  letter-spacing: 0.08em;
  word-break: keep-all;
  overflow-wrap: break-word;

  & .-small {
    display: inline-block;
    font-size: clamp(12 / 16 * 1rem, 0.708rem + 0.21vw, 14 / 16 * 1rem); //view:320-1280px
  }
}

.p-location__list__name {
  display: inline-block;
}
