@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  plan
*/

/* --price */

.p-plan__price {
  padding-top: pxToRem(32px);

  @include mq(md) {
    padding-top: pxToRem(40px);
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }

  &__text {
    padding-right: pxToRem(24px);
    font-size: clamp(14 / 16 * 1rem, 0.792rem + 0.42vw, 18 / 16 * 1rem); //最小：14px 最大：18px viw:320-1280px
  }

  &__person {
    font-size: pxToRem(20px);
    font-size: clamp(20 / 16 * 1rem, 1.167rem + 0.42vw, 24 / 16 * 1rem);

    @include mq(md) {
      font-size: pxToRem(24px);
    }
  }

  &__number {
    display: inline-block;
    font-family: $font-en;
    font-weight: 500;

    &.-large {
      font-size: calc(32 / 16 * 1rem + 0.25vw);
      line-height: 0.654;

      @include mq(md) {
        font-size: calc(51 / 16 * 1rem + 0.25vw);
      }

      @include mq(lg) {
        font-size: calc(55 / 16 * 1rem + 0.25vw);
      }
    }

    &.-large.-price {
      font-family: $font-number;
      font-size: pxToRem(32px);
      font-size: clamp(32 / 16 * 1rem, 1.667rem + 1.67vw, 48 / 16 * 1rem); // viw:320-1280px
      font-weight: 700;
      letter-spacing: 0.03em;
      line-height: 1.2;
    }

    &.-medium {
      padding-right: pxToRem(5px);
      font-size: pxToRem(20px);
      font-weight: 700;
      letter-spacing: 0.08em;

      @include mq(md) {
        font-size: pxToRem(24px);
      }
    }
  }

  &__tax {
    font-size: clamp(12 / 16 * 1rem, 0.708rem + 0.21vw, 14 / 16 * 1rem); //最小：12px 最大：14px viw:320-1280px
    font-weight: 500;
  }
}

.p-plan__price__wrap .p-plan__price__number.-large:first-of-type {
  padding-right: pxToRem(5px);
}

/*
  -detail
*/
.p-plan__detail {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 140px));
  justify-content: center;
  padding: clamp(24 / 16 * 1rem, 0.833rem + 3.33vw, 56 / 16 * 1rem) 0
    clamp(48 / 16 * 1rem, 2.333rem + 3.33vw, 80 / 16 * 1rem);
  gap: clamp(8 / 16 * 1rem, -0.167rem + 3.33vw, 40 / 16 * 1rem);

  @include mq(md) {
    grid-template-columns: repeat(3, minmax(140px, 250px));
    // padding: pxToRem(56px) 0 pxToRem(72px);
  }

  &__item__wrap {
    border-radius: 50%;
    background-color: $secondary-accent-color;
  }

  &__item {
    position: relative;
    height: 0;
    padding-top: 100%;
  }

  &__text {
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    transform: translateY(-50%);
    font-size: calc(15 / 16 * 1rem + 0.25vw);
    font-weight: 700;
    line-height: 0.833;
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;

    @include mq(md) {
      font-size: calc(19 / 16 * 1rem + 0.25vw);
    }
  }

  &__word {
    display: block;

    &.-room {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &.-maximum {
      grid-column: 1/2;
      grid-row: 2/3;
      text-align-last: justify;
    }

    &.-person {
      grid-column: 2/3;
      grid-row: 1/3;
      align-self: center;
      padding-top: pxToRem(1px);
      font-size: calc(35 / 16 * 1rem + 0.25vw);

      @include mq(md) {
        font-size: calc(51 / 16 * 1rem + 0.25vw);
      }

      @include mq(lg) {
        padding-top: pxToRem(2px);
        font-size: calc(57 / 16 * 1rem + 0.25vw);
      }
    }

    &.-unit {
      display: block;
      grid-column: 3/4;
      grid-row: 1/2;
      text-align: left;
    }

    &.-limit {
      grid-column: 3/4;
      grid-row: 2/3;
      text-align: left;
    }
  }
}

.p-plan__detail .p-plan__detail__item__wrap:first-of-type .p-plan__detail__text {
  align-items: baseline;
  padding-left: pxToRem(1.8px);
  // column-gap: pxToRem(3px);

  // @include mq(md) {
  //   column-gap: pxToRem(5px);
  // }
}

.p-plan__detail .p-plan__detail__item__wrap:first-of-type .p-plan__price__number.-large {
  padding-right: clamp(3.5 / 16 * 1rem, 0.188rem + 0.16vw, 5 / 16 * 1rem);
  padding-left: clamp(4.7 / 16 * 1rem, 0.288rem + 0.03vw, 5 / 16 * 1rem);

  // @include mq(lg) {
  //   padding-right: pxToRem(5px);
  //   padding-left: pxToRem(5px);
  // }
}

.p-plan__detail .p-plan__detail__item__wrap:nth-of-type(2) .p-plan__detail__text {
  align-items: baseline;
  padding-left: pxToRem(4px);
}

.p-plan__detail .p-plan__detail__item__wrap:last-of-type .p-plan__detail__text {
  display: grid;
  top: 50%;
  // grid-template-columns: 0.5fr 0.1fr 0.2fr;
  grid-template-columns: 0.5fr clamp(22 / 16 * 1rem, 1.241rem + 0.67vw, 25 / 16 * 1rem) 0.2fr; //viw:320-767px
  grid-template-rows:
    clamp(14 / 16 * 1rem, 0.786rem + 0.45vw, 16 / 16 * 1rem)
    clamp(14 / 16 * 1rem, 0.786rem + 0.45vw, 16 / 16 * 1rem); //viw:320-767px
  align-items: center;
  justify-content: center;
  padding: pxToRem(10px) pxToRem(10px) pxToRem(10px) pxToRem(15px);
  column-gap: pxToRem(2px);
  transform: translateY(-50%);
  font-size: calc(10 / 16 * 1rem + 0.25vw);

  @include mq(md) {
    // grid-template-columns: 0.3fr 0.6fr 0.2fr;
    grid-template-columns: 0.1fr clamp(30 / 16 * 1rem, 1.406rem + 0.98vw, 35 / 16 * 1rem) 0.2fr; //viw:768-1280px
    grid-template-rows:
      clamp(16 / 16 * 1rem, 0.625rem + 0.78vw, 20 / 16 * 1rem)
      clamp(16 / 16 * 1rem, 0.625rem + 0.78vw, 20 / 16 * 1rem); //viw:768-1280px
    column-gap: pxToRem(5px);
    transform: translateY(-52%);
    font-size: calc(15 / 16 * 1rem + 0.25vw);
    row-gap: pxToRem(5px);
  }

  @include mq(lg) {
    transform: translateY(-54%);
  }
}

/*
  -option
*/

.p-plan__option {
  &__title {
    position: relative;
    padding-left: pxToRem(32px);
    font-size: clamp(20 / 16 * 1rem, 1.083rem + 0.83vw, 28 / 16 * 1rem); //viw:320-1280px
    font-weight: 700;
    letter-spacing: 0.03em;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 1px;
      margin: auto;
      background-color: $primary-text-color;
    }
  }

  &__items {
    padding: clamp(44 / 16 * 1rem, 2.542rem + 1.04vw, 54 / 16 * 1rem)
      clamp(12 / 16 * 1rem, 0.5rem + 1.25vw, 24 / 16 * 1rem) clamp(56 / 16 * 1rem, 3.333rem + 0.83vw, 64 / 16 * 1rem) 0;
  }

  &__name {
    padding-top: pxToRem(8px);
    font-size: pxToRem(20px);
    font-size: clamp(20 / 16 * 1rem, 1.167rem + 0.42vw, 24 / 16 * 1rem); //最小：20px 最大：24px viw:320-1280px
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 1.25;

    @include mq(lg) {
      padding-top: 0;
    }
  }

  &__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: pxToRem(12px);
    font-size: clamp(12 / 16 * 1rem, 0.688rem + 0.31vw, 15 / 16 * 1rem); // viw:320-1280px
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1;

    @include mq(md) {
      padding: 0;
    }
  }

  &__image {
    &.-first img {
      object-position: 70% 40%;
    }

    &.-second img {
      object-position: 50% 3%;
    }
  }
}

// .p-plan__option__number {
//   font-size: pxToRem(20px);
//   font-weight: 700;

//   @include mq(md) {
//     font-size: pxToRem(24px);
//   }
// }
