@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  privacyPolicy
*/

.p-privacyPolicy {
  &__bg {
    padding: clamp(40 / 16 * 1rem, 2.167rem + 1.67vw, 56 / 16 * 1rem) clamp(10 / 16 * 1rem, 3.13vw, 40 / 16 * 1rem); //viw:320-1280px
    border-radius: pxToRem(32px);
    background-color: $base-color;
  }

  &__lead {
    margin-bottom: pxToRem(40px);
    text-align: center;

    @include mq(md) {
      margin-bottom: calc(40 / 768 * 100vw);
    }

    @include mq(lg) {
      margin-bottom: calc(40 / 1024 * 100vw);
    }

    @include mq(xl) {
      margin-bottom: calc(40 / 1280 * 100vw);
    }
  }

  &__title {
    padding-bottom: clamp(16 / 16 * 1rem, 0.833rem + 0.83vw, 24 / 16 * 1rem); //viw:320-1280px
    font-size: clamp(18 / 16 * 1rem, 1rem + 0.63vw, 24 / 16 * 1rem); //viw:320-1280px
    letter-spacing: 0.03em;
    line-height: 1;
  }

  &__lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: clamp(10 / 16 * 1rem, 0.5rem + 0.63vw, 16 / 16 * 1rem);

    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: pxToRem(16px);
    }
  }

  &__number {
    display: inline-block;
    padding-right: pxToRem(5px);
  }

  &__list__item {
    width: 80%;
    max-width: 1800px;
    font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //viw:320-1280px
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.8;
    word-break: keep-all;
    overflow-wrap: break-word;

    &.-lowercase {
      list-style-type: lower-latin;
    }

    &.-number {
      list-style-type: decimal;
    }

    &__wrap {
      padding-left: pxToRem(32px);

      &.-lowercase__list {
        padding-top: clamp(8 / 16 * 1rem, 0.333rem + 0.83vw, 16 / 16 * 1rem);
      }
    }
  }

  &__text {
    width: 80%;
    max-width: 1800px;
    font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //viw:320-1280px
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.8;
    text-align: left;

    &.-lead {
      display: inline-block;
      text-align: center;
    }

    &__link {
      color: $primary-text-color;
      text-decoration: underline;
    }
  }

  &__address {
    font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //viw:320-1280px
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.8;
    text-align: left;

    @include mq(xxs) {
      width: 98%;
    }

    @include mq(xs) {
      width: 100%;
    }

    &.-tel {
      color: $primary-text-color;
    }
  }
}

.p-privacyPolicy__content + .p-privacyPolicy__content {
  margin-top: clamp(56 / 16 * 1rem, 3.333rem + 0.83vw, 64 / 16 * 1rem); //viw:320-1280px
}

.p-privacyPolicy__lists__wrap + .p-privacyPolicy__lists__wrap {
  margin-top: clamp(24 / 16 * 1rem, 1.333rem + 0.83vw, 32 / 16 * 1rem);
}

.p-privacyPolicy__lists + .p-privacyPolicy__lists {
  margin-top: pxToRem(16px);
}
