@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

//詳細度の関係でswiper関係を先に記述

// /*
//   swiper main
// */

.p-rooms__swipers__wrapper {
  margin-top: pxToRem(-24px);

  @include mq(md) {
    margin-top: pxToRem(-32px);
  }
}

.p-rooms__swiper {
  margin-left: calc(50% - 50vw);
  overflow-x: hidden;

  @include mq(md) {
    width: 100%;
    max-width: 900px;
    margin-left: calc(-40 / 768 * 100vw);
  }

  @include mq(lg) {
    max-width: initial;
    margin-left: 0;
  }

  &__image {
    overflow: hidden;
    border-radius: 0 50px 15px 0;
    aspect-ratio: 294 / 195;

    @include mq(md) {
      border-radius: 15px 65px;
    }

    @include mq(lg) {
      aspect-ratio: 790 / 546;
    }

    &.-restroom {
      width: 100%;

      @include mq(lg) {
        width: 89.979%;
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.p-rooms__swiper__thumbnail {
  width: 17.177%;
  margin-top: pxToRem(-32px);

  &__wrapper {
    display: flex;
    align-items: center;
    gap: clamp(8 / 16 * 1rem, 0.045rem + 2.27vw, 24 / 16 * 1rem); //viw:320-1024px

    @include mq(lg) {
      flex-direction: column;
      align-items: end;
    }
  }

  &__slide {
    width: 100% !important ;
    height: auto;
    transition: opacity 1s cubic-bezier(0.05, 0.31, 0.73, 1.02);
    opacity: 0.5;

    &:hover {
      transition: opacity 1s cubic-bezier(0.05, 0.31, 0.73, 1.02);
      opacity: 1;
    }
  }

  &__image {
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 58 / 38;

    @include mq(lg) {
      border-radius: 15px;
      aspect-ratio: 180 / 120;
    }
  }
}

.p-rooms__swiper__thumbnail .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

// /*
//   rooms
// */

.p-rooms {
  &__contents {
    position: relative;
    width: 100%;
    margin-top: clamp(48 / 16 * 1rem, 2.545rem + 2.27vw, 64 / 16 * 1rem); //viw:320-1024px
    padding: 0 clamp(10 / 16 * 1rem, -0.227rem + 4.26vw, 40 / 16 * 1rem)
      clamp(24 / 16 * 1rem, 0.591rem + 4.55vw, 56 / 16 * 1rem); //viw:320-1024px
    border-radius: 15px 30px;
    background-color: $base-color;

    @include mq(md) {
      // max-width: 691px;
      max-width: 900px;
      margin-left: calc(20 / 768 * 100vw);
      padding: 0;
      border-radius: 15px 65px;
    }

    @include mq(lg) {
      width: calc(832 / 1024 * 100vw);
      max-width: initial;
      margin-left: calc(32 / 1024 * 100vw);
      padding: pxToRem(16px) 0 0 0;
    }

    @include mq(xl) {
      width: calc(994 / 1280 * 100vw);
      margin-left: calc(32 / 1280 * 100vw);
      padding: 0;
    }
  }

  &__header {
    width: 100%;
    max-width: 900px;
    margin: clamp(24 / 16 * 1rem, 1.167rem + 1.67vw, 40 / 16 * 1rem) auto
      clamp(2.5rem, 1.833rem + 3.33vw, 72 / 16 * 1rem); //viw:320-1280px
  }

  &__text {
    text-align: center;
  }

  &__sentence {
    display: inline-block;
    color: $caution-text-color;
    font-size: clamp(16 / 16 * 1rem, 0.943rem + 0.28vw, 18 / 16 * 1rem); //viw:320-1024px
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 1.6875;
    text-align: left;
  }

  &__caution {
    padding: clamp(24 / 16 * 1rem, 0.833rem + 3.33vw, 56 / 16 * 1rem) clamp(10 / 16 * 1rem, 3.13vw, 40 / 16 * 1rem)
      clamp(24 / 16 * 1rem, 0.833rem + 3.33vw, 56 / 16 * 1rem) clamp(10 / 16 * 1rem, 3.13vw, 40 / 16 * 1rem); //viw:320-1280px
    border-radius: 30px;
    background-color: $base-color;

    &.-shareSpace {
      margin-top: pxToRem(32px);
    }

    &__title {
      margin-bottom: clamp(16 / 16 * 1rem, 0.833rem + 0.83vw, 24 / 16 * 1rem); //viw:320-1280px
      font-size: clamp(18 / 16 * 1rem, 1.068rem + 0.28vw, 20 / 16 * 1rem); //viw:320-1024px
      font-weight: 700;
      letter-spacing: 0.08em;
      text-align: center;
    }

    &__list {
      width: fit-content;
      margin: 0 auto;
      padding-left: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //viw:320-1280px
      list-style: initial;
    }

    &__marker {
      font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //viw:320-1280px
      font-weight: 500;
      letter-spacing: 0.08em;
      line-height: 1.5;

      &::marker {
        font-size: calc(8 / 16 * 1em);
      }
    }

    &__text {
      vertical-align: middle;
    }
  }

  &__grid__items {
    @include mq(md) {
      padding: 0 0 clamp(40 / 16 * 1rem, 1.75rem + 1.56vw, 48 / 16 * 1rem)
        clamp(40 / 16 * 1rem, 1.75rem + 1.56vw, 48 / 16 * 1rem);
    }
  }

  &__items {
    &.-room1 {
      @include mq(lg) {
        width: calc(452 / 1024 * 100vw);
      }
      @include mq(xl) {
        width: calc(452 / 1280 * 100vw);
      }
    }

    &.-room2 {
      @include mq(lg) {
        width: calc(290 / 1024 * 100vw);
      }
      @include mq(xl) {
        width: calc(290 / 1280 * 100vw);
      }
    }

    &.-living {
      @include mq(lg) {
        width: calc(248 / 1024 * 100vw);
      }

      @include mq(xl) {
        width: calc(248 / 1280 * 100vw);
      }
    }

    &.-kitchen {
      @include mq(lg) {
        width: fit-content;
      }
    }

    &.-kitchenware {
      @include mq(lg) {
        width: initial;
      }
    }

    &.-kitchen__facility {
      @include mq(lg) {
        margin-right: clamp(24 / 16 * 1rem, -8.5rem + 15.63vw, 64 / 16 * 1rem);
      }
    }

    &.-drink {
      @include mq(lg) {
        margin-left: pxToRem(-24px);
      }

      @include mq(xl) {
        margin-left: pxToRem(-48px);
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: pxToRem(8px);
    line-height: 1.2;

    &.-airCleaner {
      padding-left: pxToRem(2.6px);
    }

    &.-deskLamp {
      column-gap: pxToRem(5px);

      @include mq(lg) {
        column-gap: pxToRem(8px);
      }
    }

    &.-sofa__single {
      @include mq(lg) {
        column-gap: pxToRem(11px);
      }

      @include mq(xl) {
        column-gap: pxToRem(10px);
      }
    }

    &.-mirror1,
    &.-mirror2 {
      column-gap: pxToRem(11px);
    }

    &.-bed__dobble {
      column-gap: pxToRem(11.5px);
    }

    &.-softener {
      column-gap: pxToRem(5px);
    }

    &.-ketchup {
      column-gap: pxToRem(7px);
    }

    &.-oil {
      column-gap: pxToRem(7px);
    }

    &.-dressing {
      column-gap: pxToRem(6px);
    }

    &.-sugar {
      column-gap: pxToRem(6px);
    }

    &.-pot {
      column-gap: pxToRem(9px);
    }

    &.-turner {
      column-gap: pxToRem(6.5px);
    }

    &.-mixer {
      column-gap: clamp(7 / 16 * 1rem, 0.324rem + 0.57vw, 11 / 16 * 1rem); //view:320-1024
    }

    &.-aluminumFoil {
      column-gap: pxToRem(7px);
    }
  }

  &__icon {
    display: inline-block;
    width: clamp(20 / 16 * 1rem, 1.108rem + 0.71vw, 25 / 16 * 1rem);
    max-height: pxToRem(25px);

    &.-hangerRack {
      height: clamp(22 / 16 * 1rem, 1.313rem + 0.31vw, 25 / 16 * 1rem);
      margin-left: pxToRem(-0.5px);

      & img {
        height: inherit;
      }

      @include mq(md) {
        margin-left: pxToRem(-1px);
      }
    }

    &.-sofa__single {
      width: clamp(18 / 16 * 1rem, 1.042rem + 0.42vw, 22 / 16 * 1rem);
      margin-left: pxToRem(1px);
    }

    &.-desk {
      & img {
        margin-bottom: pxToRem(3px);
      }
    }

    &.-chair {
      @include mq(md) {
        & img {
          margin-top: pxToRem(2px);
        }
      }

      @include mq(lg) {
        & img {
          margin-top: 0;
        }
      }
    }

    &.-map {
      width: clamp(18 / 16 * 1rem, 1.042rem + 0.42vw, 22 / 16 * 1rem);

      & img {
        margin-top: pxToRem(2.5px);
      }
    }

    &.-compo {
      width: clamp(22 / 16 * 1rem, 1.29rem + 0.43vw, 25 / 16 * 1rem);

      & img {
        margin-bottom: pxToRem(-0.2px);
        vertical-align: baseline;

        @include mq(lg) {
          margin-bottom: pxToRem(-1px);
        }
      }
    }

    &.-airconditioner {
      & img {
        margin-bottom: pxToRem(2px);

        @include mq(md) {
          margin-bottom: pxToRem(1.5px);
        }

        @include mq(lg) {
          margin-bottom: 0;
        }
      }
    }

    &.-bed__dobble {
      width: clamp(19 / 16 * 1rem, 1.045rem + 0.71vw, 24 / 16 * 1rem);
    }

    &.-bed__single {
      & img {
        margin-bottom: pxToRem(1px);
        vertical-align: baseline;

        @include mq(md) {
          margin-bottom: 0;
        }
      }
    }

    &.-mirror_sm {
      width: clamp(15 / 16 * 1rem, 0.795rem + 0.71vw, 20 / 16 * 1rem);
      margin-left: pxToRem(2px);

      & img {
        margin-top: clamp(0.063rem, -0.004rem + 0.33vw, 0.156rem); //320-768px

        @include mq(lg) {
          margin-top: pxToRem(1.5px);
        }
      }
    }

    &.-table {
      & img {
        margin-bottom: pxToRem(-0.5px);
        vertical-align: baseline;

        @include mq(lg) {
          margin-bottom: pxToRem(-2px);
        }
      }
    }

    &.-livingTable {
      width: clamp(19 / 16 * 1rem, 1.045rem + 0.71vw, 24 / 16 * 1rem); //viw:320-1024px
    }

    &.-mirror3 {
      width: clamp(15 / 16 * 1rem, 0.795rem + 0.71vw, 20 / 16 * 1rem); //viw:320-1024px
      height: clamp(1.25rem, 1.165rem + 0.43vw, 1.438rem); //viw:320-1024px

      & img {
        height: inherit;
        margin-top: pxToRem(1px);
        margin-left: pxToRem(2.5px);
      }
    }

    &.-airCleaner {
      width: clamp(15 / 16 * 1rem, 0.852rem + 0.43vw, 18 / 16 * 1rem); //viw:320-1024px
      height: clamp(21 / 16 * 1rem, 1.199rem + 0.57vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
        margin-top: pxToRem(-1px);
      }
    }

    &.-MakeupRemover {
      height: clamp(24 / 16 * 1rem, 1.472rem + 0.14vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-shampoo {
      height: clamp(23 / 16 * 1rem, 1.381rem + 0.28vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-rinse {
      height: clamp(24 / 16 * 1rem, 1.443rem + 0.28vw, 26 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-bodysoap {
      height: clamp(23 / 16 * 1rem, 1.381rem + 0.28vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-facewash {
      height: clamp(21 / 16 * 1rem, 1.256rem + 0.28vw, 23 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-toothpaste {
      width: clamp(20 / 16 * 1rem, 1.136rem + 0.57vw, 24 / 16 * 1rem); //viw:320-1024px
    }

    &.-laundryDetergent {
      height: clamp(23 / 16 * 1rem, 1.381rem + 0.28vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-raundry {
      height: clamp(22 / 16 * 1rem, 1.318rem + 0.28vw, 24 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-hairdryer {
      width: clamp(19 / 16 * 1rem, 1.074rem + 0.57vw, 23 / 16 * 1rem); //viw:320-1024px
    }

    &.-softener {
      width: clamp(23 / 16 * 1rem, 1.146rem + 0.52vw, 28 / 16 * 1rem); //viw:320-1024px
      height: clamp(24 / 16 * 1rem, 1.443rem + 0.28vw, 26 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-towel {
      width: clamp(22 / 16 * 1rem, 1.205rem + 0.85vw, 28 / 16 * 1rem); //viw:320-1024px
    }

    &.-refrigerator {
      height: clamp(20 / 16 * 1rem, 1.108rem + 0.71vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-racemaker {
      width: clamp(19 / 16 * 1rem, 1.074rem + 0.57vw, 23 / 16 * 1rem); //viw:320-1024px;
    }

    &.-kettle {
      width: clamp(19 / 16 * 1rem, 1.074rem + 0.57vw, 23 / 16 * 1rem); //viw:320-1024px;
    }

    &.-gus {
      width: clamp(19 / 16 * 1rem, 1.074rem + 0.57vw, 23 / 16 * 1rem); //viw:320-1024px;
    }

    &.-toaster {
      width: clamp(19 / 16 * 1rem, 1.074rem + 0.57vw, 23 / 16 * 1rem); //viw:320-1024px;
    }

    &.-pot {
      width: clamp(22 / 16 * 1rem, 1.233rem + 0.71vw, 27 / 16 * 1rem);
      margin-left: pxToRem(-2px);
    }

    &.-cuttingBoard {
      & img {
        vertical-align: baseline;
      }
    }

    &.-mixer {
      width: pxToRem(18px);
      height: clamp(23 / 16 * 1rem, 1.396rem + 0.21vw, 25 / 16 * 1rem);

      @include mq(md) {
        margin-left: pxToRem(3px);
      }

      & img {
        height: inherit;
      }
    }

    &.-colander {
      & img {
        margin-bottom: pxToRem(2.5px);

        @include mq(lg) {
          margin-bottom: pxToRem(1px);
        }
      }
    }

    &.-solt {
      height: clamp(19 / 16 * 1rem, 1.045rem + 0.71vw, 24 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-paper {
      height: clamp(19 / 16 * 1rem, 1.045rem + 0.71vw, 24 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-mayonnaise {
      height: clamp(20 / 16 * 1rem, 1.108rem + 0.71vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-ketchup {
      height: clamp(21 / 16 * 1rem, 1.199rem + 0.57vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-dressing {
      height: clamp(21 / 16 * 1rem, 1.199rem + 0.57vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-soysauce {
      height: clamp(20 / 16 * 1rem, 1.108rem + 0.71vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-oil {
      height: clamp(20 / 16 * 1rem, 1.108rem + 0.71vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-sugar {
      width: clamp(22 / 16 * 1rem, 1.233rem + 0.71vw, 27 / 16 * 1rem);
      margin-left: pxToRem(2px);
    }

    &.-coffee {
      height: clamp(19 / 16 * 1rem, 1.074rem + 0.57vw, 23 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-tea {
      width: clamp(21 / 16 * 1rem, 1.199rem + 0.57vw, 25 / 16 * 1rem); //viw:320-1024px
      margin-left: pxToRem(2px);
    }

    &.-knife {
      height: clamp(22 / 16 * 1rem, 1.29rem + 0.43vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-glass {
      width: clamp(17 / 16 * 1rem, 0.92rem + 0.71vw, 22 / 16 * 1rem); //viw:320-1024px;
      margin-left: pxToRem(1px);
    }

    &.-sponge {
      height: clamp(23 / 16 * 1rem, 1.381rem + 0.28vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-kitchenSorp {
      height: clamp(20 / 16 * 1rem, 1.108rem + 0.71vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-sake {
      height: clamp(25 / 16 * 1rem, 1.506rem + 0.28vw, 27 / 16 * 1rem);

      & img {
        height: inherit;
      }
    }

    &.-mirin {
      height: clamp(25 / 16 * 1rem, 1.506rem + 0.28vw, 27 / 16 * 1rem);

      & img {
        height: inherit;
      }
    }

    &.-chopstick {
      & img {
        margin-bottom: pxToRem(2px);
        vertical-align: baseline;

        @include mq(md) {
          margin-bottom: pxToRem(1px);
        }
      }
    }

    &.-papercup {
      height: clamp(20 / 16 * 1rem, 1.108rem + 0.71vw, 25 / 16 * 1rem); //viw:320-1024px

      & img {
        height: inherit;
      }
    }

    &.-aluminumFoil {
      width: clamp(19 / 16 * 1rem, 1.045rem + 0.71vw, 24 / 16 * 1rem);
      margin-bottom: pxToRem(1.5px);
      margin-left: pxToRem(2px);

      @include mq(md) {
        margin-left: pxToRem(1px);
      }

      @include mq(lg) {
        margin-bottom: pxToRem(-1px);
      }
    }

    &.-wrap {
      width: clamp(22 / 16 * 1rem, 1.261rem + 0.57vw, 26 / 16 * 1rem);
      margin-top: pxToRem(2px);
      margin-left: pxToRem(-2px);
    }
  }

  &__itemName {
    font-size: clamp(15 / 16 * 1rem, 0.909rem + 0.14vw, 16 / 16 * 1rem); //viw:320-1024px
    font-weight: 500;
    letter-spacing: 0.08em;
  }

  //** houseRule **//
  &__houseRule {
    &__wrapper {
      @include mq(md) {
        width: 88%;
        max-width: 575px;
        margin: 0 auto;
      }

      &.-top {
        position: relative;
        padding: 0 0 clamp(64 / 16 * 1rem, 3rem + 5vw, 112 / 16 * 1rem); //viw:320-1280px

        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: clamp(32 / 16 * 1rem, 1.5rem + 2.5vw, 56 / 16 * 1rem); //viw:320-1280px
          left: 0;
          width: 145px;
          margin: 0 auto;
          border: 1px solid $quaternary-text-color;
        }
      }

      &.-bottom {
        position: relative;
        padding: clamp(64 / 16 * 1rem, 3rem + 5vw, 112 / 16 * 1rem) 0 0; //viw:320-1280px

        &::before {
          content: "";
          position: absolute;
          top: clamp(32 / 16 * 1rem, 1.5rem + 2.5vw, 56 / 16 * 1rem); //viw:320-1280px
          right: 0;
          left: 0;
          width: 145px;
          margin: 0 auto;
          border: 1px solid $quaternary-text-color;
        }
      }
    }

    &__time {
      padding-bottom: pxToRem(12px);
    }

    &__text {
      position: relative;
      text-align: center;
    }

    &__list__text {
      font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem);
      font-weight: 500;
      letter-spacing: 0.08em;
      line-height: 1.8;
      text-align: left;
    }

    &__lists {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;

      &.-top {
        width: fit-content;
        max-width: 400px;
        margin: auto;
        padding-bottom: pxToRem(16px);
        column-gap: pxToRem(16px);
        gap: pxToRem(5px);
      }

      &.-middle {
        width: fit-content;
        max-width: 400px;
        margin: auto;
        padding-bottom: pxToRem(16px);
        column-gap: pxToRem(16px);
        gap: pxToRem(20px);

        @include mq(md) {
          max-width: 432px;
        }
      }

      &.-bottom {
        padding-left: pxToRem(16px);
        gap: pxToRem(16px);
      }
    }

    &__list__item {
      list-style-type: disc;
      font-size: calc(8 / 16 * 1em);
    }
  }

  //** common **//
  &__content {
    &__wrapper {
      width: 100%;
      padding: clamp(24 / 16 * 1rem, 0.591rem + 4.55vw, 56 / 16 * 1rem)
        clamp(16 / 16 * 1rem, -0.136rem + 5.68vw, 56 / 16 * 1rem);
      border-radius: 10px;
      background-color: $base-color;

      @include mq(lg) {
        max-width: 800px;
        margin: 0 auto;
      }
    }

    &__inner {
      padding-top: clamp(32 / 16 * 1rem, 1.333rem + 3.33vw, 64 / 16 * 1rem);
    }

    &__text {
      text-align: center;
    }

    &__sentence {
      display: inline-block;
      font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem);
      font-weight: 500;
      letter-spacing: 0.08em;
      line-height: 1.8;
      text-align: left;
    }
  }
}

.p-rooms__houseRule__lists .p-rooms__houseRule__list__item:last-child .p-rooms__houseRule__list__text {
  word-break: keep-all;
  overflow-wrap: break-word;

  @include mq(md) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.p-rooms__caution__marker + .p-rooms__caution__marker {
  padding-top: pxToRem(16px);
}

// /*
//   swiper main
// */

// .p-rooms__swipers__wrapper {
//   margin-top: pxToRem(-24px);

//   @include mq(md) {
//     margin-top: pxToRem(-32px);
//   }
// }

// .p-rooms__swiper {
//   margin-left: calc(50% - 50vw);
//   overflow-x: hidden;

//   @include mq(md) {
//     width: 100%;
//     max-width: 900px;
//     margin-left: calc(-40 / 768 * 100vw);
//   }

//   @include mq(lg) {
//     width: 100%;
//     max-width: initial;
//     margin-left: 0;
//   }

//   &__image {
//     overflow: hidden;
//     border-radius: 0 50px 15px 0;
//     aspect-ratio: 294 / 195;

//     @include mq(md) {
//       border-radius: 15px 65px;
//     }

//     @include mq(lg) {
//       aspect-ratio: 790 / 546;
//     }

//     &.-restroom {
//       width: 100%;

//       @include mq(lg) {
//         width: 89.979%;
//       }
//     }

//     // & img {
//     //   width: 100%;
//     //   height: 100%;
//     //   object-fit: cover;
//     // }
//   }
// }

// /*
//   swiper thumbnail
// */

// .p-rooms__swiper__thumbnail {
//   width: 17.177%;
//   margin-top: pxToRem(-32px);

//   &__wrapper {
//     display: flex;
//     align-items: center;
//     gap: clamp(8 / 16 * 1rem, 0.045rem + 2.27vw, 24 / 16 * 1rem); //viw:320-1024px

//     @include mq(lg) {
//       flex-direction: column;
//       align-items: end;
//     }
//   }

//   &__slide {
//     width: 100% !important ;
//     height: auto;
//     transition: opacity 1s cubic-bezier(0.05, 0.31, 0.73, 1.02);
//     opacity: 0.5;

//     &:hover {
//       transition: opacity 1s cubic-bezier(0.05, 0.31, 0.73, 1.02);
//       opacity: 1;
//     }
//   }

//   &__image {
//     overflow: hidden;
//     border-radius: 10px;
//     aspect-ratio: 58 / 38;

//     @include mq(lg) {
//       border-radius: 15px;
//       aspect-ratio: 180 / 120;
//     }
//   }
// }

// .p-rooms__swiper__thumbnail .swiper-slide.swiper-slide-thumb-active {
//   opacity: 1;
// }
