@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

//** swiper **//

//slide pagination
.swiper-pagination {
  z-index: initial;
  right: 0;
  left: 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: initial;
  background: $swiper-scrollbar-base;

  @include mq(lg) {
    width: 15px;
    height: 15px;
  }
}

.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: pxToRem(5px);

  @include mq(md) {
    margin-left: pxToRem(8px);
  }

  @include mq(lg) {
    margin-left: pxToRem(10px);
  }
}

.swiper-pagination-bullet-active {
  background: $main-color;
}

//slide button
.swiper-button-prev,
.swiper-button-next {
  position: relative;
  top: initial;
  right: 0;
  left: 0;
  width: clamp(32 / 16 * 1rem, 1.196rem + 4.02vw, 50 / 16 * 1rem); //viw:320-768px
  height: clamp(32 / 16 * 1rem, 1.196rem + 4.02vw, 50 / 16 * 1rem); //viw:320-768px
  margin-top: initial;
  border-radius: 50%;

  @include mq(xxl) {
    width: pxToRem(55px);
    height: pxToRem(55px);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
  }
}

.swiper-button-prev {
  &::after {
    width: clamp(14 / 16 * 1rem, 0.696rem + 0.89vw, 18 / 16 * 1rem); //viw:320-768px
    height: clamp(11 / 16 * 1rem, 0.554rem + 0.67vw, 14 / 16 * 1rem); //viw:320-768px
    margin-right: clamp(9 / 16 * 1rem, 0.25rem + 1.56vw, 16 / 16 * 1rem); //viw:320-768px
    transform: rotate(-90deg);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);

    @include mq(xxl) {
      width: 26px;
      height: 22px;
    }
  }
}

.swiper-button-next {
  &::after {
    width: clamp(14 / 16 * 1rem, 0.696rem + 0.89vw, 18 / 16 * 1rem); //viw:320-768px
    height: clamp(11 / 16 * 1rem, 0.554rem + 0.67vw, 14 / 16 * 1rem); //viw:320-768px
    margin-left: clamp(9 / 16 * 1rem, 0.205rem + 1.79vw, 17 / 16 * 1rem);
    transform: rotate(90deg);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);

    @include mq(xxl) {
      width: 26px;
      height: 22px;
    }
  }
}

.swiper-button-prev.-shareSpace.swiper-button-disabled,
.swiper-button-next.-shareSpace.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-prev.-location.swiper-button-disabled,
.swiper-button-next.-location.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-container-horizontal > .swiper-scrollbar {
  right: 0;
  left: 0;
  width: 72.32%;
  margin: auto;
  background-color: $swiper-scrollbar-base;

  @include mq(lg) {
    display: none;
  }
}

.swiper-scrollbar-drag {
  background-color: $main-color;
}
