@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

//** swiper **//

//pagination
.swiper-pagination {
  display: flex;
  z-index: initial;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: clamp(0.5rem, 0.458rem + 0.21vw, 0.625rem); //viw:320-1280px
  inset: 0;

  &.-locationPage {
    position: initial;
    width: 37%;
    max-width: 251px;
    height: clamp(2rem, 1.196rem + 4.02vw, 3.125rem);
    text-align: left;
    inset: initial;

    @include mq(md) {
      width: 100%;
      max-width: initial;
      text-align: center;
    }

    @include mq(lg) {
      height: initial;
    }
  }
}

.swiper-pagination-bullet {
  width: clamp(8 / 16 * 1rem, 0.458rem + 0.21vw, 10 / 16 * 1rem); //viw:320-1280px
  height: clamp(8 / 16 * 1rem, 0.458rem + 0.21vw, 10 / 16 * 1rem); //viw:320-1280px
  opacity: initial;
  background: $swiper-scrollbar-base;
}

.swiper-pagination-bullet-active {
  background: $primary-sub-color;
}

//slide button
.swiper-button-prev,
.swiper-button-next {
  position: relative;
  z-index: 2;
  top: initial;
  width: clamp(32 / 16 * 1rem, 1.196rem + 4.02vw, 50 / 16 * 1rem); //viw:320-768px
  height: clamp(32 / 16 * 1rem, 1.196rem + 4.02vw, 50 / 16 * 1rem); //viw:320-768px
  margin-top: initial;
  border-radius: 50%;

  @include mq(xxl) {
    width: pxToRem(55px);
    height: pxToRem(55px);
  }

  &::after {
    content: "";
    position: absolute;
    margin: auto;
  }
}

.swiper-button-prev {
  left: 0;

  &::after {
    width: clamp(12 / 16 * 1rem, 0.661rem + 0.45vw, 14 / 16 * 1rem); //viw:320-768px
    height: clamp(10 / 16 * 1rem, 0.536rem + 0.45vw, 12 / 16 * 1rem); //viw:320-768px
    margin-right: clamp(3 / 16 * 1rem, 0.143rem + 0.22vw, 4 / 16 * 1rem); //viw:320-768px
    transform: rotate(-90deg);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }
}

.swiper-button-next {
  right: 0;

  &::after {
    width: clamp(12 / 16 * 1rem, 0.661rem + 0.45vw, 14 / 16 * 1rem); //viw:320-768px
    height: clamp(10 / 16 * 1rem, 0.536rem + 0.45vw, 12 / 16 * 1rem); //viw:320-768px
    margin-left: clamp(3 / 16 * 1rem, 0.143rem + 0.22vw, 4 / 16 * 1rem); //viw:320-768px
    transform: rotate(90deg);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }
}

.swiper-button-prev.-shareSpace.swiper-button-disabled,
.swiper-button-next.-shareSpace.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-prev.-location.swiper-button-disabled,
.swiper-button-next.-location.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-container-horizontal > .swiper-scrollbar {
  z-index: -1;
  right: 0;
  left: 0;
  width: 72.32%;
  margin: auto;
  background-color: $swiper-scrollbar-base;

  @include mq(lg) {
    display: none;
  }
}

.swiper-scrollbar-drag {
  background-color: $primary-sub-color;
}
