@charset 'UTF-8';
//====================================
//  Typeface
//====================================

$font-set-primary: "Zen Kaku Gothic Antique", sans-serif;
$font-en: "Fira Sans", sans-serif;
$font-number: "Noto Sans JP", sans-serif;
