@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  access_top
-----------------------------------------------------*/
.l-access {
  &__index {
    margin: 0 0 clamp(64 / 16 * 1rem, 2.571rem + 7.14vw, 96 / 16 * 1rem); //viw:320-767px

    @include mq(lg) {
      margin: 0;
    }
  }

  &__contents {
    margin-top: clamp(42 / 16 * 1rem, 2.063rem + 2.81vw, 69 / 16 * 1rem); //viw:320-768px

    & + .l-access__contents {
      margin-top: clamp(64 / 16 * 1rem, 3.5rem + 2.5vw, 88 / 16 * 1rem); //viw:320-1280px
    }
  }

  &__wrapper {
    @include mq(lg) {
      width: 90%;
      margin: auto;
    }
  }

  &__mainContents {
    margin-bottom: clamp(64 / 16 * 1rem, 2.417rem + 7.92vw, 140 / 16 * 1rem);
  }
}
