@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Container
-----------------------------------------------------*/
.l-container {
  width: 90%;
  // max-width: $content-width;
  margin: 0 auto;

  @include mq(lg) {
    &.-access__index {
      width: 100%;
    }
  }

  @include mq(lg) {
    &.-access__main {
      width: 100%;
      // max-width: 1000px;
      margin: auto;
    }
  }
}
