@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Container
-----------------------------------------------------*/
.l-container {
  width: 90%;
  margin: 0 auto;

  &.-contact {
    max-width: 641px;

    @include mq(lg) {
      max-width: $lg-content-width;
    }
  }

  @include mq(lg) {
    &.-access__index {
      width: 100%;
    }
  }

  @include mq(lg) {
    &.-access__main {
      width: 100%;
      margin: auto;
    }
  }
}
