@charset "UTF-8";
@use "sass:math";
@use "../global" as *;
//====================================
//  Grid
//====================================

.l-grid {
  display: grid;

  &.-feature {
    @include mq(lg) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      justify-content: center;
      column-gap: clamp(24 / 16 * 1rem, 1.167rem + 1.67vw, 40 / 16 * 1rem);
      row-gap: 0;
    }
  }

  &.-plan {
    grid-template-columns: 1fr;

    @include mq(lg) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      column-gap: pxToRem(88px);
    }
  }

  &.-room__facility {
    gap: pxToRem(72px);

    @include mq(lg) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      justify-content: center;
      padding-bottom: pxToRem(64px);
      gap: pxToRem(40px);
    }
  }

  //** rooms ** //
  &__swipers__wrapper {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: calc(190 / 320 * 100vw) 1fr;
    grid-template-rows: 1fr calc(38 / 320 * 100vw);
    row-gap: clamp(16 / 16 * 1rem, 0.286rem + 3.57vw, 32 / 16 * 1rem); //viw:320-768px

    @include mq(md) {
      grid-template-rows: 1fr calc(75.3 / 768 * 100vw);
    }

    @include mq(lg) {
      grid-template-columns: calc(632 / 1024 * 100vw) calc(180 / 1024 * 100vw);
      grid-template-rows: 1fr auto;
      margin-left: -4rem;
      column-gap: pxToRem(40px);
    }

    @include mq(xl) {
      grid-template-columns: calc(790 / 1280 * 100vw) calc(180 / 1280 * 100vw);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    &.-rooms {
      row-gap: clamp(56 / 16 * 1rem, 2.833rem + 3.33vw, 88 / 16 * 1rem); //viw:320-1280px
      width: 100%;

      @include mq(md) {
        width: 94%;
      }
      @include mq(lg) {
        width: initial;
      }
    }
  }

  &.-contents__wrapper {
    gap: clamp(16 / 16 * 1rem, 0.5rem + 2.5vw, 40 / 16 * 1rem); //viw:320-1280px
    display: flex;
    flex-direction: column-reverse;
  }

  &.-house__detail {
    align-items: center;
    row-gap: clamp(8 / 16 * 1rem, 0.333rem + 0.83vw, 16 / 16 * 1rem); //viw:320-1280px

    @include mq(lg) {
      column-gap: clamp(16 / 16 * 1rem, -3rem + 6.25vw, 32 / 16 * 1rem);
    }

    &.-room1 {
      grid-template-columns: 1.1fr 0.5fr;
      grid-template-rows: repeat(5, 1fr);

      @include mq(md) {
        grid-template-columns: 1fr 0.5fr;
      }

      @include mq(lg) {
        grid-template-columns: calc(188 / 1024 * 100vw) calc(137 / 1024 * 100vw) 15%;
        grid-template-rows: repeat(3, 1fr);
      }
      @include mq(xl) {
        grid-template-columns: calc(190 / 1280 * 100vw) calc(138 / 1280 * 100vw) 15%;
      }
    }

    &.-room2 {
      grid-template-columns: 0.8fr 1fr;
      grid-template-rows: repeat(3, 1fr);

      @include mq(md) {
        grid-template-columns: 0.5fr 0.6fr;
      }

      @include mq(lg) {
        grid-template-columns: calc(113 / 1024 * 100vw) calc(154 / 1024 * 100vw);
      }
    }

    &.-living {
      grid-template-columns: 1fr 0.8fr;
      grid-template-rows: repeat(3, 1fr);

      @include mq(md) {
        grid-template-columns: 0.5fr 0.5fr;
      }

      @include mq(lg) {
        grid-template-columns: calc(104 / 1024 * 100vw) calc(121 / 1024 * 100vw);
      }

      @include mq(xl) {
        grid-template-columns: calc(104 / 1280 * 100vw) calc(121 / 1280 * 100vw);
      }
    }

    &.-kitchen__facility {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);

      @include mq(md) {
        grid-template-columns: 0.35fr 0.35fr 0.5fr;
        grid-template-rows: repeat(2, 1fr);
      }

      @include mq(lg) {
        grid-template-columns: calc(120 / 1024 * 100vw) calc(120 / 1024 * 100vw);
        grid-template-rows: repeat(3, 1fr);
      }

      @include mq(xl) {
        grid-template-columns: calc(120 / 1280 * 100vw) calc(120 / 1280 * 100vw);
      }
    }

    &.-kitchenware {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);

      @include mq(md) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }

      @include mq(lg) {
        grid-template-columns: 0.7fr 0.7fr 0.5fr 0.7fr;
        grid-template-rows: repeat(3, 1fr);
      }

      @include mq(xl) {
        grid-template-columns: calc(120 / 1280 * 100vw) calc(120 / 1280 * 100vw) calc(85 / 1280 * 100vw) calc(
            103 / 1280 * 100vw
          );
      }
    }

    &.-seasoning {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, 1fr);

      @include mq(md) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }

      @include mq(lg) {
        grid-template-columns: calc(120 / 1024 * 100vw) calc(139 / 1024 * 100vw) calc(102 / 1024 * 100vw) calc(
            70 / 1024 * 100vw
          );
      }

      @include mq(xl) {
        grid-template-columns: calc(120 / 1280 * 100vw) calc(141 / 1280 * 100vw) calc(102 / 1280 * 100vw) calc(
            70 / 1280 * 100vw
          );
      }
    }

    &.-other {
      grid-template-columns: 1.2fr 0.8fr;
      grid-template-rows: repeat(6, 1fr);

      @include mq(md) {
        grid-template-columns: 0.4fr 0.65fr 0.5fr 0.5fr;
        grid-template-rows: repeat(3, 1fr);
      }

      @include mq(lg) {
        grid-template-columns: calc(86 / 1024 * 100vw) calc(154 / 1024 * 100vw) calc(113 / 1024 * 100vw) calc(
            137 / 1024 * 100vw
          );
      }

      @include mq(xl) {
        grid-template-columns: calc(85 / 1280 * 100vw) calc(154 / 1280 * 100vw) calc(113 / 1280 * 100vw) calc(
            137 / 1280 * 100vw
          );
      }
    }

    &.-bathGoods {
      grid-template-columns: 1fr 0.8fr;
      grid-template-rows: repeat(6, 1fr);

      @include mq(md) {
        grid-template-columns: 0.5fr 0.5fr;
      }

      @include mq(lg) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
    }
  }

  &.-houseRule__top {
    grid-template-columns: min(calc(160 / 320 * 100vw), 187px) 1.5fr;
    grid-template-rows: 1fr;
    column-gap: clamp(16 / 16 * 1rem, 0.284rem + 3.58vw, 32 / 16 * 1rem); //view:320-767px
    text-align: left;
  }

  &.-houseRule__bottom {
    grid-template-columns: min(calc(130 / 320 * 100vw), 143px) 1.05fr;
    grid-template-rows: 1fr;
    column-gap: clamp(16 / 16 * 1rem, 0.284rem + 3.58vw, 32 / 16 * 1rem); //view:320-767px
    text-align: left;
  }

  &.-cancelPolicy__top {
    grid-template-columns: 0.8fr 0.5fr;
    grid-template-rows: 1fr;
    column-gap: clamp(16 / 16 * 1rem, -1.143rem + 10.71vw, 64 / 16 * 1rem);
    text-align: left;
  }

  &.-cancelPolicy__bottom {
    grid-template-columns: 0.8fr 0.5fr;
    grid-template-rows: 1fr;
    column-gap: clamp(16 / 16 * 1rem, -1.143rem + 10.71vw, 64 / 16 * 1rem);
    text-align: left;
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: clamp(24 / 16 * 1rem, 1.333rem + 0.83vw, 32 / 16 * 1rem); //viw:320-1280px

    @include mq(lg) {
      flex-direction: row;
    }

    &.-rooms {
      @include mq(lg) {
        gap: clamp(40 / 16 * 1rem, -3.5rem + 9.38vw, 64 / 16 * 1rem);
      }
    }

    &.-living {
      @include mq(lg) {
        column-gap: clamp(24 / 16 * 1rem, -6.5rem + 12.5vw, 56 / 16 * 1rem); //viw:1024-1280px
      }
    }

    &.-kitchen {
      @include mq(lg) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 0.5fr auto;
        width: fit-content;
      }
    }
  }
}
