@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Header
-----------------------------------------------------*/
.l-header {
  position: relative;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  padding: clamp(24 / 16 * 1rem, 1.143rem + 1.79vw, 32 / 16 * 1rem) 0; //view:320-768px

  //   @include mq(xl) {
  //   position: sticky;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   transition: var(--duration3) var(--ease4);
  //   transition-property: transform;
  //   background-color: $base-color;
  //   background-color: transparent;
  // }
}

.l-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
