@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

.l-hero {
  margin-bottom: calc(142 / 320 * 100vw);

  @include mq(md) {
    margin-bottom: calc(254 / 768 * 100vw);
  }

  @include mq(lg) {
    margin-bottom: calc(232 / 1024 * 100vw);
  }
}
