@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  location
-----------------------------------------------------*/
.l-location {
  padding: clamp(64 / 16 * 1rem, 3.042rem + 4.79vw, 110 / 16 * 1rem) 0
    clamp(64 / 16 * 1rem, 3.042rem + 4.79vw, 110 / 16 * 1rem);
}

.l-location__accordion {
  @include mq(lg) {
    width: 100%;
    max-width: $lg-content-width;
    margin: auto;
  }
}
