@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  rooms
-----------------------------------------------------*/

.l-rooms {
  @include mq(lg) {
    margin-right: calc(-28.5 / 1024 * 100vw);
  }

  @include mq(xl) {
    margin-right: calc(-28.5 / 1280 * 100vw);
  }

  &.-restRoom {
    width: 100%;

    @include mq(xl) {
      margin-right: calc(-82.5 / 1280 * 100vw);
    }
  }

  &__houseRule {
    margin-bottom: clamp(56 / 16 * 1rem, 2.833rem + 3.33vw, 88 / 16 * 1rem); //viw:320-1280px
  }

  &__flow {
    margin-bottom: clamp(56 / 16 * 1rem, 2.833rem + 3.33vw, 88 / 16 * 1rem); //viw:320-1280px
  }

  &__cancelPolicy {
    margin-bottom: clamp(110 / 16 * 1rem, 6.25rem + 3.13vw, 140 / 16 * 1rem); //viw:320-1280px
  }
}
