@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  rooms
-----------------------------------------------------*/

.l-rooms {
  @include mq(lg) {
    margin-right: calc(-28.5 / 1024 * 100vw);
  }

  @include mq(xl) {
    margin-right: calc(-28.5 / 1280 * 100vw);
  }

  &.-restRoom {
    width: 100%;

    @include mq(lg) {
      margin-right: auto;
    }
  }

  &__houseRule {
    margin-bottom: clamp(64 / 16 * 1rem, 3.25rem + 3.75vw, 100 / 16 * 1rem);
  }

  &__flow {
    margin-bottom: clamp(64 / 16 * 1rem, 3.25rem + 3.75vw, 100 / 16 * 1rem);
  }

  &__cancelPolicy {
    margin-bottom: clamp(88 / 16 * 1rem, 3.75rem + 8.75vw, 172 / 16 * 1rem);
  }
}
