@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  accordion
*/

.c-accordion {
  border: 2px solid $main-color;
  border-radius: pxToRem(10px);
  background-color: $base-color;

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: clamp(24 / 16 * 1rem, 1.167rem + 1.67vw, 40 / 16 * 1rem); //viw:320-1280px

    &.-faq {
      padding: clamp(32 / 16 * 1rem, 1.667rem + 1.67vw, 48 / 16 * 1rem) 0
        clamp(32 / 16 * 1rem, 1.333rem + 3.33vw, 64 / 16 * 1rem); //viw:320-1280px
    }
  }

  &__inner {
    display: flex;
    position: relative;
    flex-direction: row;
    width: inherit;
    font-weight: 500;
    letter-spacing: 0.08em;
    cursor: pointer;

    &.-faq {
      align-items: flex-start;
      padding: clamp(18 / 16 * 1rem, 1.083rem + 0.21vw, 20 / 16 * 1rem) pxToRem(52px)
        clamp(18 / 16 * 1rem, 1.083rem + 0.21vw, 20 / 16 * 1rem)
        clamp(16 / 16 * 1rem, 0.958rem + 0.21vw, 18 / 16 * 1rem); //viw:320-1280px
      column-gap: pxToRem(8px);
    }

    &.-location {
      align-items: center;
      justify-content: center;
      padding: clamp(16 / 16 * 1rem, 0.958rem + 0.21vw, 18 / 16 * 1rem) //viw:320-1280px
        clamp(16 / 16 * 1rem, 0.958rem + 0.21vw, 18 / 16 * 1rem)
        clamp(16 / 16 * 1rem, 0.958rem + 0.21vw, 18 / 16 * 1rem) pxToRem(31px); // アイコンのwidth + アイコン右の余白(8px)
      column-gap: pxToRem(5px);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: clamp(16 / 16 * 1rem, 0.958rem + 0.21vw, 18 / 16 * 1rem); //viw:320-1280px
      bottom: 0;
      width: 12px;
      height: 2px;
      margin: auto 0;
      background-color: $main-color;

      @include mq(md) {
        width: 15px;
      }
    }

    &::after {
      transition: var(--duration1) var(--ease6);
      transition-property: rotate;
      rotate: 90deg;
    }
  }
}

.c-accordion:first-of-type .c-accordion__inner.-location {
  padding: clamp(16 / 16 * 1rem, 0.958rem + 0.21vw, 18 / 16 * 1rem) //viw:320-1280px
    clamp(16 / 16 * 1rem, 0.958rem + 0.21vw, 18 / 16 * 1rem) clamp(16 / 16 * 1rem, 0.958rem + 0.21vw, 18 / 16 * 1rem)
    pxToRem(28px); // アイコンのwidth + アイコン右の余白(8px)
}

.is-opened .c-accordion__inner::after {
  transition: var(--duration1) var(--ease6);
  transition-property: rotate;
  rotate: 0deg;
}

.c-accordion__box {
  overflow: hidden;

  &__inner {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.08em;

    &.-faq {
      padding: 0 clamp(32 / 16 * 1rem, 1.917rem + 0.42vw, 36 / 16 * 1rem)
        clamp(24 / 16 * 1rem, 1.417rem + 0.42vw, 28 / 16 * 1rem)
        clamp(16 / 16 * 1rem, 0.958rem + 0.21vw, 18 / 16 * 1rem); //右以外 最小：16px 最大：18px viw:320-1280px 右 最小：32px 最大：36px viw:320-1280px
      column-gap: pxToRem(8px);
    }

    &.-location {
      flex-direction: column;
      padding: 0 clamp(32 / 16 * 1rem, 1.917rem + 0.42vw, 36 / 16 * 1rem)
        clamp(28 / 16 * 1rem, 1.583rem + 0.83vw, 36 / 16 * 1rem)
        clamp(16 / 16 * 1rem, 0.958rem + 0.21vw, 18 / 16 * 1rem); //上 最小：16px 最大：32px viw:320-1280px 左 最小：16px 最大：18px viw:320-1280px 右 最小：32px 最大：36px viw:320-1280px 下 最小：24px 最大：32px viw:320-1280px
    }
  }
}

.c-accordion__text {
  &__wrap {
    width: fit-content;
    margin: auto;
    padding-bottom: pxToRem(24px);

    @include mq(md) {
      padding-bottom: pxToRem(32px);
    }
  }

  &.-caution {
    color: $caution-text-color;
    font-size: pxToRem(15px);
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.6;
    text-align: left;

    @include mq(md) {
      white-space: nowrap;
    }
  }
}

.c-accordion__box__text {
  position: relative;
  line-height: 1.6;

  &.-faq {
    position: relative;
    padding: pxToRem(2px) 0 0 pxToRem(26px);
    font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //viw:320-1280px

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
      font-size: pxToRem(18px);
    }
  }
  &.-location {
    font-size: pxToRem(16px);
    font-weight: 700;
    text-align: center;
  }
}

.c-accordion__box__text.-q {
  &::before {
    content: "Q";
    color: $tertiary-text-color;
  }
}

.c-accordion__box__text.-a {
  &::before {
    content: "A";
    color: $main-color;
  }
}

.c-accordion .c-accordion__box__text.-location {
  &::before {
    content: "";
    position: absolute;
    top: 1px;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    @include mq(xl) {
      top: pxToRem(2px);
    }
  }
}

.c-accordion:first-of-type .c-accordion__box__text.-location {
  &::before {
    content: "";
    top: 2px;
    left: -22px;
    width: 16px;
    height: 21px;
    background-image: url(../../assets/img/top/location/location_icon_walk.svg);
  }
}

.c-accordion:nth-child(2) .c-accordion__box__text.-location {
  &::before {
    content: "";
    left: -31px;
    background-image: url(../../assets/img/top/location/location_icon_car.svg);
  }
}

.c-accordion:nth-child(3) .c-accordion__box__text.-location {
  &::before {
    content: "";
    left: -29px;
    width: 22px;
    height: 22px;
    background-image: url(../../assets/img/top/location/location_icon_time.svg);
  }
}
