@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  label
*/

.c-label {
  &__number {
    display: block;
    position: absolute;
    background-color: $main-color;
    color: #fff;
    font-family: $font-en;
    font-weight: 700;
    line-height: 1.2;

    @include mq(md) {
      top: -36px;
      line-height: 1.1;
    }

    @include mq(lg) {
      top: -25px;
      font-size: pxToRem(24px);
      line-height: 1.05;
    }

    &.-feature {
      top: -31px;
      left: 0;
      padding: clamp(16 / 16 * 1rem, 0.943rem + 0.28vw, 18 / 16 * 1rem); //viw:320-1024px
      border-radius: 50% 50% 0;
      font-size: clamp(24 / 16 * 1rem, 1.321rem + 0.89vw, 28 / 16 * 1rem); //viw:320-1024px
      letter-spacing: 0.03em;

      @include mq(md) {
        top: -36px;
      }

      @include mq(lg) {
        top: -35px;
      }
    }

    &.-access {
      top: -15px;
      right: 0;
      padding: clamp(8 / 16 * 1rem, 0.216rem + 1.42vw, 18 / 16 * 1rem); //viw:320-1024px
      border-radius: 50% 50% 50% 0;
      font-size: clamp(12 / 16 * 1rem, 0.409rem + 1.7vw, 24 / 16 * 1rem); //viw:320-1024px
      letter-spacing: 0.03em;

      @include mq(md) {
        top: -25px;
      }

      @include mq(lg) {
        top: -30px;
      }
    }
  }
}
