@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

.c-swiper {
  display: flex;
  flex-direction: column;
  align-items: end;
  order: -1;
  overflow-x: hidden;
}

.c-swiper__buttons {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin: clamp(24 / 16 * 1rem, 1.167rem + 1.67vw, 40 / 16 * 1rem) auto 0;

  &.-shareSpace {
    width: 55%;
    max-width: 300px;

    @include mq(lg) {
      width: 65%;
    }

    @include mq(xl) {
      width: 58%;
    }
  }

  &.-location {
    width: 80%;
    max-width: 463px;

    @include mq(md) {
      width: 58%;
      max-width: initial;
    }

    @include mq(lg) {
      width: 52%;
    }

    @include mq(xl) {
      width: 54%;
    }
  }

  &.-rooms {
    width: 27%;
    margin: 0 0 0 auto;
    cursor: not-allowed;

    @include mq(lg) {
      width: 100%;
      margin: 0;
    }

    @include mq(xxl) {
      min-width: 180px;
    }
  }

  &.-access {
    // position: absolute;
    // z-index: 1;
    // top: clamp(2rem, 1.375rem + 3.13vw, 3.875rem);
    // right: 0;
    // left: 0;
    // width: 100%;
    // height: calc(186 / 320 * 100vw); // 画像の高さ / ブラウザ幅 * 100vw
    // margin: auto 0;
    // padding: 0 clamp(10 / 16 * 1rem, 0.333rem + 1.46vw, 24 / 16 * 1rem);
    display: none;

    @include mq(lg) {
      display: flex;
      position: absolute;
      z-index: 1;
      top: clamp(54 / 16 * 1rem, 1.375rem + 3.13vw, 62 / 16 * 1rem); //view:1024px-1280px
      right: 0;
      left: 0;
      width: 100%;
      height: calc(314.77 / 1024 * 100vw); // 画像の高さ / ブラウザ幅 * 100vw
      margin: auto 0;
      padding: 0 clamp(10 / 16 * 1rem, 0.333rem + 1.46vw, 24 / 16 * 1rem);
    }

    @include mq(xl) {
      height: calc(432 / 1280 * 100vw); // 画像の高さ / ブラウザ幅 * 100vw
    }

    @include mq(xxl) {
      height: calc(495.22 / 1440 * 100vw); // 画像の高さ / ブラウザ幅 * 100vw
    }
  }
}

.c-swiper__button__next,
.c-swiper__button__prev {
  transition: background-color 0.6s cubic-bezier(0.33, -0.01, 0.66, 0.97);
  border: 1px solid $main-color;
  background-color: $main-color;

  &::after {
    transition: background-color 0.6s cubic-bezier(0.33, -0.01, 0.66, 0.97);
    background-color: $base-color;
  }

  &:hover {
    transition: background-color 0.6s cubic-bezier(0.33, -0.01, 0.66, 0.97);
    border: 1px solid $main-color;
    background-color: $base-color;

    &::after {
      transition: background-color 0.6s cubic-bezier(0.33, -0.01, 0.66, 0.97);
      background-color: $main-color;
    }
  }
}

.c-swiper__button__next.-shareSpace,
.c-swiper__button__prev.-shareSpace {
  background-color: $base-color;

  &::after {
    background-color: $main-color;
  }

  &:hover {
    background-color: $main-color;

    &::after {
      background-color: $base-color;
    }
  }
}

.c-swiper_pagination {
  &.-location {
    width: 54%;
    max-width: 251px;
    margin: 0 auto;
    text-align: left;

    @include mq(md) {
      width: 100%;
      max-width: initial;
      text-align: center;
    }
  }
}

.c-swiper__thumbnail {
  &.-access {
    width: 100%;
    overflow-x: hidden;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    &.-rooms {
      column-gap: clamp(8 / 16 * 1rem, 0.143rem + 1.79vw, 16 / 16 * 1rem); //view:320-768px
      transform: translate3d(0, 0, 0) !important;
      @include mq(lg) {
        flex-direction: column;
        align-items: end;
        row-gap: pxToRem(24px);
      }

      @include mq(xxl) {
        row-gap: pxToRem(32px);
      }
    }
  }

  &__slide {
    transition: opacity 1s cubic-bezier(0.05, 0.31, 0.73, 1.02);
    opacity: 0.5;

    &.-rooms {
      // width: 100% !important ;
      // height: auto;
      // width: 43.29%;
      width: clamp(58 / 16 * 1rem, 1.083rem + 12.71vw, 180 / 16 * 1rem);
      height: 100%;

      @include mq(lg) {
        width: calc(180 / 1024 * 100vw);
      }

      @include mq(xl) {
        width: calc(180 / 1280 * 100vw);
      }

      @include mq(xxl) {
        width: 100%;
      }
    }

    &:hover {
      transition: opacity 1s cubic-bezier(0.05, 0.31, 0.73, 1.02);
      opacity: 1;
    }
  }

  &__image {
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 58 / 38;

    @include mq(lg) {
      border-radius: 15px;
      aspect-ratio: 130 / 85;
    }

    @include mq(xl) {
      aspect-ratio: 180 / 120;
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.c-swiper__thumbnail .c-swiper__thumbnail__slide.-access {
  width: 20.139%;

  @include mq(lg) {
    width: 19.346%;
  }
}

.c-swiper__thumbnail .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}
