@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  pageHeader
*/

.c-pageHeader {
  margin: clamp(16 / 16 * 1rem, -0.167rem + 5.83vw, 72 / 16 * 1rem) 0
    clamp(40 / 16 * 1rem, 1.667rem + 4.17vw, 80 / 16 * 1rem); //viw:320-1280px

  &__text {
    padding-top: clamp(32 / 16 * 1rem, 1.091rem + 4.55vw, 64 / 16 * 1rem); //viw:320-1024px
    text-align: center;
  }

  &__sentence {
    display: inline-block;
    font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //viw:320-1280px
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.8;
    text-align: left;

    @include mq(lg) {
      padding-left: pxToRem(16px);
    }
  }
}
