@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  pageHeader
*/

.c-pageHeader {
  margin: clamp(32 / 16 * 1rem, -0.143rem + 10.71vw, 80 / 16 * 1rem) 0
    clamp(32 / 16 * 1rem, -0.143rem + 10.71vw, 80 / 16 * 1rem); //viw:320-768px

  @include mq(lg) {
    margin: clamp(160 / 16 * 1rem, 5rem + 7.81vw, 180 / 16 * 1rem) 0 pxToRem(140px); //viw:1024-1280px
  }

  &.-reservation {
    @include mq(lg) {
      margin: clamp(160 / 16 * 1rem, 5rem + 7.81vw, 180 / 16 * 1rem) 0 pxToRem(100px); //viw:1024-1280px
    }
  }

  &__text {
    padding-top: clamp(32 / 16 * 1rem, 1.364rem + 5.68vw, 80 / 16 * 1rem); //viw:320-1024px
    text-align: center;
  }

  &__sentence {
    display: inline-block;
    font-size: clamp(15 / 16 * 1rem, 0.909rem + 0.14vw, 16 / 16 * 1rem); //viw:320-1024px
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.8;
    text-align: left;
  }
}
